.historic-p {
    margin-top: 37px;
    margin-bottom: 38px;
    font-weight: bold;
}

/* Input de la tâche */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+ *::before {
  content:'';
  margin-right: 15px;
  accent-color: #1d2038;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.checked {
  background-image: url("/src/assets/checked_icon/8666665_check_icon.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;

}

input[type="checkbox"] + label {
    line-height:2em;
}
