.historic-p {
    margin-top: 37px;
    margin-bottom: 38px;
    font-weight: bold;
}

/* Input de la tâche */
.checkboxline {
  line-height: 2rem;
}

.checkbox-item {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  line-height:2em;
  width: 23px;
  height: 23px;
  background-color: #1d2038;
  border: 2px solid #ffffff;
  border-radius: 50px;
  margin-right: 11px;
  cursor: pointer;
}

.checkbox-item:checked {
  content:'';
  background-image: url(../../../assets/checked_icon/8666665_check_icon.png);
  background-repeat: no-repeat;
  background-position: center;
}
