<section class="historic-page">
    <div class="historic-p">
        <p>historique des tâches :</p>
    </div>
    <div class="listing-form">
        <ul class="ul-form">
            <ng-container *ngFor="let todo of hystoric">
                <li class="li-form"><input
                    type="radio"
                    class="radio"
                    />
                    <label for="shopping-radio" class="task-label">{{todo.category}} {{todo.content}}</label>
                </li>
            </ng-container>
        </ul>
    </div>
</section>
