.landing-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-button {
    width: 248px;
    height: 48px;
    font-weight: bold;
    color: white;
    background-color: #64A7D9;
    padding: 14px 4px;
    border: none;
    border-radius: 30px;
    margin-top: 32px;
    cursor: pointer;
}