<section class="landing-page">
    <form class="listing-form">
        <ul class="ul-form">
            <!-- Ma tache doit être un radio button pour la sélection simple et envoie direct dans l'historique-->
            <!-- Elles doivent également être séparées en deux listes Urgentes | non-urgentes -->
            <p class="title-taskslists">📌Tâches urgentes</p>
            <ng-container *ngFor="let todo of todoLists">
                <li class="li-form" *ngIf="todo.isUrgent == true"><input
                    type="radio"
                    class="radio"
                    />
                    <label for="shopping-radio" class="task-label">{{todo.category}} {{todo.content}}</label>
                </li>
            </ng-container>
            <p class="title-taskslists">🌸 Tâches non urgentes</p>
            <ng-container *ngFor="let todo of todoLists">
                <li class="li-form" *ngIf="todo.isUrgent == false"><input
                    type="radio"
                    class="radio"
                    />
                    <label for="shopping-radio" class="task-label">{{todo.category}} {{todo.content}}</label>
                </li>
            </ng-container>
        </ul>
    </form>
    <div class="landing-message">
        <div [hidden]="isHide">
            <!-- Afficher conditionnellement cette div (si pas de tâches) -->
            <p>Aucune tâche pour le moment</p>
            <button class="landing-button" routerLink="/myNewTask">Créer une tâche</button>
        </div>
    </div>
</section>
