<section class="adding-form">
    <!-- Si je mets une balise form, le clic sur lmes catégories rafraichit la page -->
    <div>
        <div class="form-body">
            <div class="buttons">
                <p class="categories-p">Sélectionner votre catégorie* :</p>
                <div class="buttons-d">
                    <button class="btn" (click)="switchBtnColors1()"
                    [ngStyle]="{ background: btnColor1 }"> <img src="../../../assets/icons_categories/🛍️.png" alt="shopping" ></button>
                    <button class="btn" (click)="switchBtnColors2()"
                    [ngStyle]="{ background: btnColor2}"> <img src="../../../assets/icons_categories/💊️.png" alt="medecines" ></button>
                    <button class="btn" (click)="switchBtnColors3()"
                    [ngStyle]="{ background: btnColor3 }"> <img src="../../../assets/icons_categories/💼.png" alt="work" ></button>
                    <button class="btn" (click)="switchBtnColors4()"
                    [ngStyle]="{ background: btnColor4 }"> <img src="../../../assets/icons_categories/💸.png" alt="budget" ></button>
                    <button class="btn" (click)="switchBtnColors5()"
                    [ngStyle]="{ background: btnColor5 }"> <img src="../../../assets/icons_categories/🧼.png" alt="?" ></button>
                    <button class="btn"></button>
                </div>
            </div>
            <div class="inputs">
                <label for="myTask" class="mytask-label">Quelle tâche avez-vous à effectuer* ?</label>
                <input type="text" name="myTask" class="mytask-input" placeholder="Exemple : Faire les courses">
                <div class="checkbox">
                    <input type="checkbox" name="urgentTask" class="checkbox-item">
                    <label for="urgentTask" class="checkbox-l"> La tâche est urgente🔺</label>
                </div>
            </div>
        </div>
        <div class="validation">
            <button type="submit" class="form-validation-btn">Valider ma tâche</button>
        </div>
    </div>
</section>
