<form class="form-body" #myForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="buttons">
    <p class="categories-p">Sélectionner votre catégorie* :</p>
    <div class="buttons-d">
      <div>
        <input
          type="radio"
          class="btn"
          [(ngModel)]="todos.category"
          ngDefaultControl
          value="🛒"
          name="category"
          id="shopping-radio"
          required
        />
        <label for="shopping-radio" class="label-cat"><span class="icon-cat">🛒</span></label>
      </div>
      <div>
        <input
          type="radio"
          class="btn"
          [(ngModel)]="todos.category"
          ngDefaultControl
          value="💊"
          name="category"
          id="health-radio"
          required
        />
        <label for="health-radio" class="label-cat"><span class="icon-cat">💊</span></label>
      </div>
      <div>
        <input
        type="radio"
        class="btn"
        [(ngModel)]="todos.category"
        ngDefaultControl
        value="💼"
        name="category"
        id="work-radio"
        required
        />
        <label for="work-radio" class="label-cat"><span class="icon-cat">💼</span></label>
      </div>
      <div>
        <input
          type="radio"
          class="btn"
          [(ngModel)]="todos.category"
          ngDefaultControl
          value="💸"
          name="category"
          id="bills-radio"
          required
        />
        <label for="bills-radio" class="label-cat"><span class="icon-cat">💸</span></label>
      </div>
      <div>
        <input
          type="radio"
          class="btn"
          [(ngModel)]="todos.category"
          ngDefaultControl
          value="🧣"
          name="category"
          id="cleaning-radio"
          required
        />
        <label for="cleaning-radio" class="label-cat"><span class="icon-cat">🧣</span></label>
      </div>
      <div>
        <input
          type="radio"
          class="btn"
          [(ngModel)]="todos.category"
          ngDefaultControl
          value="others"
          name="category"
          id="others-radio"
          required
        />
        <label for="others-radio"></label>
      </div>
    </div>
  </div>
  <div class="inputs">
    <label for="myTask" class="mytask-label" name="content"
      >Quelle tâche avez-vous à effectuer* ?</label
    >
    <textarea
      name="myTask"
      id=""
      cols="30"
      rows="10"
      class="mytask-textarea"
      [(ngModel)]="todos.content"
      ngDefaultControl
      name="content"
      placeholder="Exemple : Faire les courses"
      required
    ></textarea>
    <div class="checkbox">
      <input
        type="checkbox"
        name="isUrgent"
        class="checkbox-item"
        [(ngModel)]="todos.isUrgent"
        ngDefaultControl
        name="isUrgent"
      />
      <label for="isUrgent" class="checkbox-l" name="isUrgent">
        La tâche est urgente🔺
      </label>
    </div>
  </div>
  <div class="validation">
    <input
      type="submit"
      class="form-validation-btn"
      [disabled]="!myForm.valid"
      value="Valider ma tâche"
    />
  </div>
</form>
