<section class="footer">
  <button
    class="btn"
    (click)="matchingUrls(); switchBtnColors1()"
    routerLink=""
    [ngStyle]="{ background: btnColorListing }"
  >
    <img
      class="icon-list"
      src="../../../assets/icons_menu/listing.png"
      alt="liste"
    />
  </button>
  <button
    class="btn"
    (click)="matchingUrls(); switchBtnColors2()"
    routerLink="/myNewTask"
    [ngStyle]="{ background: btnColorAdd }"
  >
    <img
      class="icon-plus"
      src="../../../assets/icons_menu/plus.png"
      alt="ajouter"
    />
  </button>
  <button
    class="btn"
    (click)="matchingUrls(); switchBtnColors3()"
    routerLink="/myTaskHistory"
    [ngStyle]="{ background: btnColorHistory }"
  >
    <img
      class="icon-history"
      src="../../../assets/icons_menu/time.png"
      alt="historique"
    />
  </button>
</section>
