*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, button {
  font-family: "Quicksand", sans-serif;
  color: white;
}

ul, li {
  list-style: none;
}

/* Astuce Manon + donner une height fixe au header et footer */
body {
  background: #040722;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

/* Astuce Manon + donner une height fixe au header et footer */
section {
  flex: 1;
  overflow-y: scroll;
}

/* Customization de la scrollBar https://www.youtube.com/watch?v=X5VFtL6AYSI */

section::-webkit-scrollbar {
  width: 3px;
}

section::-webkit-scrollbar-thumb {
  background-color: #F3D24F;
  border-radius: 10px;
}

